[Desktop Entry]
Type=Application
Name=Dialer
Icon=icons-Applications-dialer
Exec=dialer -prestart
Comment=MeeGo voice call application
X-Desktop-File-Install-Version=0.16
X-Osso-Service=com.meego.dialer
